.back {
    text-align: left;
    margin-left: 20px;
    background-color: transparent;
    border-radius: 20px;
    padding: 12px;
    color: #15616d;
}

.back:hover {
    background-color: rgb(255, 255, 255);
}

#goto {
    gap: 20px;
    font-size: 5vw;
    padding: 20px;
    background-color: #ffb950;
    margin: 20px;
    border: 2px black solid;
    border-radius: 25px;
    text-align: center;
    color: white;
}
#goto:hover {
    background-color: rgb(75, 75, 75);
}

.god {
    top: 0;
    position: fixed;
    z-index: 10;
    width: 100%;
}